
<div class="flex-column text-center">

@if (!loading() && submission && quiz) {
<h2>Result</h2>
<h3>{{ quiz.title }}</h3>
<h3>
  Score: {{ getScore() }} ({{getDetailScore()}}) 
</h3>
@for (question of quiz.questions; track question.id) {
<h3>Question {{ $index }}</h3>
<div class="container mt-4">
  <div class="card shadow p-3 mb-4">
    <div class="card-body">
      <!-- Question Text -->
      <div
        class="card-title border rounded p-3"
        style="white-space: pre-wrap; max-height: 500px; overflow-y: auto"
      >
        {{ question.text }}
      </div>
      <!-- Answers as Buttons -->
      <form class="d-flex flex-column gap-3">
        @for (answer of question.answers; track answer.id) { @let isSelected =
        isAnswerselected(question.id, answer.id); @let isCorrect =
        isCorrectAnswer(question.id, answer.id);
        <div class="btn-group">
          <input
            class="btn-check"
            type="checkbox"
            id="{{ question.id }}answer{{ answer.id }}"
            disabled
          />
          <label
            class="btn btn-lg text-start border-2 align-content-center"
            [class.btn-success]="isSelected && isCorrect"
            [class.btn-outline-primary]="!isSelected && !isCorrect"
            [class.btn-outline-success]="!isSelected && isCorrect"
            [class.btn-danger]="isSelected && !isCorrect"
            for="{{ question.id }}answer{{ answer.id }}"
          >
            {{ answer.option }}
          </label>
          @if (!isCorrect && isSelected) {

          <span
            class="d-flex justify-content-center align-items-center display-5 ms-2 text-danger"
            aria-label="Wrong answer"
          >
            ❌
          </span>
          }@else if (isCorrect && isSelected) {
            <span
              class="d-flex justify-content-center align-items-center display-5 ms-2 text-success"
              aria-label="Correct answer or not selected"
            >
            ✓
            </span>
          }
        </div>
        }
      </form>
    </div>
  </div>
</div>

} } @else {
<div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}

</div>
