@for (question of quiz().questions; track question.id) {
<h3>Question {{ $index }}</h3>
<div class="container mt-4">
  <div class="card shadow p-3 mb-4">
    <div class="card-body">
      <!-- Question Text -->
      <div
        class="card-title border rounded p-3"
        style="white-space: pre-wrap; max-height: 500px; overflow-y: auto"
      >
        {{ question.text }}
      </div>
      <!-- Answers as Buttons -->
      <form class="d-flex flex-column gap-3">
        @for (answer of question.answers; track answer.id) { @let isSelected =
        selectedResponses()[question.id].has(answer.id);
        <div class="btn-group">
          @if (!showResult()) {
          <input
            class="btn-check"
            type="checkbox"
            [checked]="isSelected"
            id="{{ question.id }}answer{{ answer.id }}"
            (change)="selectAnswer(question.id, answer.id)"
          />
          <label
            class="btn btn-lg text-start btn-outline-primary"
            for="{{ question.id }}answer{{ answer.id }}"
          >
            {{ answer.text }}
          </label>
          } @else {
          <input
            class="btn-check"
            type="checkbox"
            disabled
            id="{{ question.id }}answer{{ answer.id }}"
            (change)="selectAnswer(question.id, answer.id)"
          />
          <label
            class="btn btn-lg text-start"
            [class.btn-success]="isSelected  && answer.isCorrect"
            [class.btn-outline-primary]="!isSelected && !answer.isCorrect"
            [class.btn-outline-success]="!isSelected && answer.isCorrect"
            [class.btn-danger]="isSelected && !answer.isCorrect"
            for="{{ question.id }}answer{{ answer.id }}"
          >
            {{ answer.text }}
          </label>
          @if (!answer.isCorrect && isSelected) {

          <span
            class="d-flex justify-content-center align-items-center display-5 ms-2 text-danger"
            aria-label="Wrong answer"
          >
            ❌
          </span>
          }
         }
        </div>
        }
      </form>
    </div>
  </div>
</div>

}
<div class="d-flex justify-content-center mt-4">
  <button class="btn btn-danger" (click)="openFinishConfirmationPopup()">
    Finish test
  </button>
</div>
