<div
  class="d-flex justify-content-center align-items-center container flex-column gap-3"
>
  @if (quiz) {
    <h5 class="mb-1">{{ quiz.title }}</h5>
    <p class="mb-0 text-muted">Category: {{ quiz.category }}</p>
    <p>{{ quiz.explanation }}</p>

    <button class="btn btn-lg btn-primary" (click)="start()">
      TAKE THIS TEST
    </button>
    <div class="mt-5 w-75 text-center">
      @if (submissions.length > 0) {
        <div>
          <h4>Submission history</h4>
          <app-quiz-history [submissions]="submissions"></app-quiz-history>
        </div>
      } @else {
        <h5 class="text-muted">You've never taken this quiz</h5>
      }
    </div>
  }
</div>
