<div
  class="d-flex justify-content-center align-items-center container flex-column gap-3"
>
  <!-- Display List of Available Quizzes -->
  @if (!!quizzes()) {
  <h2 class="mb-3">Available Quizzes</h2>
  <ul class="list-group w-100">
    @for (quiz of quizzes(); track quiz.id) {
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-3"
    >
      <div>
        <h5 class="mb-1">{{ quiz.title }}</h5>
        <p class="mb-0 text-muted">Category: {{ quiz.category }}</p>
      </div>
      <button class="btn btn-outline-primary btn-sm" (click)="selectQuiz(quiz)">Select</button>
    </li>
    }
  </ul>
  }
</div>
